html, body {
	height: 100%;
}

.content {
	min-height: 100%;
}

#home-background {
	background-image: url('background.jpg');
	background-size: cover;
	height: 944px;
}

.footer {
	position: relative;
}