html, body {
	height: 100%;
}

.content {
	min-height: 100%;
}

#home-background {
	background-image: url('background.jpg');
	background-size: cover;
	height: 944px;
}

.footer {
	position: relative;
}

.search-input {
	width: 400px !important;
	height: 40px;
}

.search-btn {
	height: 100%;
	width: 40px;
}

#popular-stays {
	border-top: 2px solid #ffffff;
}

.card-title {
	min-height: 48px;
}

label[for=id_username], label[for=id_email], label[for=id_password] {
	width: 150px;
}

.page-header {
	padding-bottom: 0px !important;
}

#login-username, #login-password {
	width: 206.667px;
}

label[for=login-username], label[for=login-password] {
	width: 150px;
}

#map{
	height: 200px;
	width:40%;
	display: inline-block;
}

.profile-img {
	height: 350px;
	width: 350px;
}