{% extends 'mystays/base.html' %}

{% block title_block %}
About Us
{% endblock %}

{% block body_block %}
<div class="container-sm">

    <div class="col-md-5 p-lg-5 mx-auto">
        <h1 class="text-center display-4">About MyStays</h1>
    </div>


    The objective of MyStays is to provide an online area for users to rate and review accommodation
    (hotels, inns, apartments to rent, etc.) in their area. <br />
    <br />
    The information, ratings, and reviews for the accommodation are
    available for anyone to peruse and enjoy. In order to contribute to the discussion with stays and reviews,
    we encourage you to create an account today! <br />
    <br />
    Information about the accommodation includes a description of the
    residence, photos, location, and contact information. We know that internet scams are out there,
    so users who upload accommodation for review are responsible for posting accurate information.
    Be honest! The accuracy of the information you upload is also subject to rating and review by the public. <br />
    <br />
    Users can rate accommodation in several categories, such as overall
    impression, location, cleanliness, accuracy of description, and cost.
    Overall ratings for these categories averaging all user input are also
    available. Users have the option to include a more detailed review of the accommodation with their rating. <br />
    <br />
    We hope you enjoy the site! <br />
    <br />
    - The MyStays Team -
</div>
{% endblock %}