<!DOCTYPE html>

{% load static %}

<html>
    <head>
		<li class="bar"><a href="{% url 'mystays:home' %}">Home</a></li>
		<li class="bar"><a href="{% url 'mystays:about_us' %}">About Us</a></li>
		{% if user.is_authenticated %}
            <li class="right"><a href="{% url 'mystays:my_account' user.username %}">MyAccount</a></li>
            <li class="bar"><a href="{% url 'mystays:user_logout' %}">Logout</a></li>
        {% else %}
            <li class="right"><a href="{% url 'mystays:sign_up' %}">Sign Up</a></li>
            <li class="bar"><a href="{% url 'mystays:user_login' %}">Login</a></li>
        {% endif %}
		<link rel="stylesheet" type="text/css" href = "{% static 'master.css' %}?version=32"/> 
        <title>
            {% block title_block %}
                MyStays
            {% endblock %}
        </title>
    </head>
    <body>
        <div>
        {% block body_block %}
        {% endblock %}
        </div>

        <hr />



    </body>
	<li><a href="{% url 'mystays:home' %}">Home</a></li>
	<span>&#8226;</span>
	<li><a href="{% url 'mystays:about_us' %}">About Us</a></li>
	<span>&#8226;</span>
	{% if user.is_authenticated %}
        <li><a href="{% url 'mystays:my_account' user.username %}">MyAccount</a></li>
		<span>&#8226;</span>
        <li><a href="{% url 'mystays:user_logout' %}">Logout</a></li>
    {% else %}
        <li><a href="{% url 'mystays:sign_up' %}">Sign Up</a></li>
		<span>&#8226;</span>
        <li><a href="{% url 'mystays:user_login' %}">Login</a></li>
    {% endif %}
	
</html>