{% extends 'mystays/base.html' %}

{% block title_block %}
    Edit Stay
{% endblock %}

{% block body_block %}
    <h1>Edit Stay</h1>

    <div>
        <h3>Update Stay Details</h3>
        <form id="stay_form" method="post" action="{% url 'mystays:edit_stay' user.username stay.slug %}" enctype="multipart/form-data">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
            <br />
            {% endfor %}

            <input type="submit" name="submit" value="Edit Stay" />
        </form>
    </div>
{% endblock %}
