{% extends 'mystays/base.html' %}

{% block title_block %}
Edit Details
{% endblock %}

{% block body_block %}
<div class="container-sm">
    <div class="page-header col-md-5 p-lg-5 mx-auto">
        <h2 class="text-center">Edit Details</h2>
    </div>
    <hr>

    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{ MEDIA_URL }}{{user_profile.picture}}" class="profile-img card-img"
                    alt="{{ selected_user.username }}'s profile picture">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    Username: {{ selected_user.username }}<br />
                    Email: {{ selected_user.email }}<br />

                    {% if selected_user == user %}
                    <form method="post" action="{% url 'mystays:edit_account' user.username %}"
                        enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}

                        <input class="btn btn-primary" type="submit" value="Confirm" />
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}