{% extends 'mystays/base.html' %}

{% block title_block %}
    Edit Account
{% endblock %}

{% block body_block %}
    <h1>Edit My Account</h1>

    <div>
        <img src="{{ MEDIA_URL }}{{user_profile.picture}}"
             width="300"
             height="300"
             alt="{{ selected_user.username }}'s profile picture" />
        <br />
        Username: {{ selected_user.username }}<br />
        Email: {{ selected_user.email }}<br />

        {% if selected_user == user %}
        <h3>Update Your Account Information</h3>
        <form method="post" action="{% url 'mystays:edit_account' user.username %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit" value="Edit Profile" />
        </form>
        {% endif %}


    </div>
{% endblock %}
