{% extends 'mystays/base.html' %}

{% block title_block %}
My Account
{% endblock %}

{% block body_block %}
<div class="container-sm">

	{% if selected_user == user %}
	<div class="page-header col-md-5 p-lg-5 mx-auto">
		<h2 class="text-center">My Account</h2>
	</div>
	<hr>
	{% else %}
	<h1>{{ selected_user.username }}'s Account</h1>
	{% endif %}
	<div class="card mb-3">
		<div class="row no-gutters">
			<div class="col-md-4">
				<img src="{{ MEDIA_URL }}{{user_profile.picture}}" class="profile-img card-img"
					alt="{{ selected_user.username }}'s profile picture">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					Username: {{ selected_user.username }}<br />
					Email: {{ selected_user.email }}<br />

					{% if selected_user == user %}
					<a href="{% url 'mystays:edit_account' user.username %}">Edit Details</a> <br>
					{% endif %}
					<a href="{% url 'mystays:post_stay' user.username %}">Post a New Stay</a><br />
					<a href="{% url 'mystays:posted_stays' user.username %}">My Stays</a><br />
					<a href="{% url 'mystays:my_reviews' user.username %}">My Reviews</a><br />
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}