{% extends 'mystays/base.html' %}

{% block title_block %}
MyReviews
{% endblock %}

{% block body_block %}
<div class="container">
    <div class="page-header col-md-5 p-lg-5 mx-auto">
        <h2 class="text-center">Ratings and Reviews</h2>
    </div>
    <hr>

    <div>
        {% if my_reviews %}
        {% for review in my_reviews %}
        <strong>{{ review.title }}</strong> Overall: {{ review.impression }}/10<br />
        {{ review.comment }}<br />
        Location: {{ review.locationRating }}/10<br />
        Cleanliness: {{ review.cleanliness }}/10<br />
        Accuracy of Description: {{ review.descripAccuracy }}/10<br />
        Cost Value: {{ review.costRating }}/10<br />
        <hr>
        {% endfor %}
        {% else %}
        <strong>This user has not rated or reviewed any stays.</strong>
        {% endif %}
    </div>
</div>
{% endblock %}