{% extends 'mystays/base.html' %}

{% block title_block %}
Rate and Review
{% endblock %}

{% block body_block %}
<div class="container">
    <div class="page-header col-md-5 p-lg-5 mx-auto">
        <h2 class="text-center">{{ stay.name }}</h2>
    </div>
    <hr>

    <div class="text-center">
        <img src="{{ MEDIA_URL }}{{stay.picture}}" width=450 alt="picture of {{ stay }}" /><br />
    </div>

    <div>
        <h2>Leave Review</h2>
        <form id="review_form" method="post" action="{% url 'mystays:rate_and_review' stay.slug user.username %}">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
            <br />
            {% endfor %}
            <input type="submit" name="submit" value="Rate and Review" />
        </form>
    </div>
</div>
{% endblock %}