{% extends 'base.html' %}

{% block content %}
	<div>
		<h2>Stays in the Specified Location</h2>
		{% if desired_stays %}
		<ul>
			{% for stay in desired_stays %}
			<li>
				<h5 class="card-title">{{ stay.name }}</h5>
				<p class="card-text">{{ stay.description }}</p>
					<a href="{% url 'mystays:show_stay' stay.slug %}">View</a><br />
					<p class="card-text"><small class="text-muted">Rating: {{ stay.propertyRating }}/10</small></p>
			</li>
			{% endfor %}
		</ul>
		{% else %}
		<strong>There is nowhere to stay in the specified location.</strong>
		{% endif %}
	</div>
{% endblock %}