{% extends 'base.html' %}

{% block content %}
	<div>
		<h2>Stays in the Specified Location</h2>
		{% if desired_stays %}
		<ul>
			{% for stay in desired_stays %}
			<li>
				<img src="{{ MEDIA_URL }}{{stay.picture}}" height=125 alt="picture of {{ stay }}" /><br />
                <a href="{% url 'mystays:show_stay' stay.slug %}">{{ stay.name }}</a>: {{ stay.propertyRating }}/10
			</li>
			{% endfor %}
		</ul>
		{% else %}
		<strong>There is nowhere to stay in the specified location.</strong>
		{% endif %}
	</div>
{% endblock %}